body {
  background: #415a6c;
  margin: 0;
  font-family: 'Abel';
}
.parallax-container {
  position: fixed;
  overflow: visible;
}
.parallax-layer {
  width: 100%;
  height: 1600px;
  position: fixed;
  left: 0;
  top: 0;
  background-size: 1000px 1920px;
}
  .layer-0 {
    top: 100px;
    z-index: 5;
    background: #dbf0ff no-repeat top 40px center;

  }
  .layer-1 {
    top: -1125px;
    z-index: 5;
    background-image: url("layer1.png");
    background-size: 500px 500px;

  }
  .layer-2 {
    top: -800px;
    z-index: 10;
    right: 600px;
    background-image: url("layer2.png");
    background-size: 600px 600px;

  }
  .layer-3 {
    top: -800px;
    z-index: 5;
    right: 100px;
    background-image: url("layer3.png");
    background-repeat: repeat-y;
    float: right;
    background-size: 600px 600px;



  } /*
  .layer-4 {
    top: -500px;
    z-index: 15;
    background-image: url("layer4.png");

  }

  .layer-5 {
    top: -500px;
    z-index: 15;
    background-image: url("layer5.png");

  }*/

.content {
  position: absolute;
  top: 600px;
  background: #415a6c;
  width: 100%;
  min-height: 1500px;
}
  .content h1 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
  }
